[Desktop Entry]
Name=Shankar Flutter app
Comment=Super Cool Desktop App
Exec=shan-hello-world
Icon=${SNAP}/meta/gui/shan-hello-world.png
Terminal=false
Type=Application
Categories=Utility;